@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  direction: rtl;
  scroll-behavior: smooth;
  background-color: #333;
}

.bg-image {
  background-image: url("../assets/image/Purple\ And\ Green\ Romance\ Novel\ Book\ Cover\ \(8\)\ 1.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
body {
  background-color: black;
}
.MuiBottomNavigation-root {
  background: rgba(38, 38, 38, 0.634) !important ;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20.1px);
}
.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 100px;
  background-color: #292d38;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #2daa9e;
  border-radius: 100px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #1c7d74;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.custom-scrollbar {
  width: 400px;
  padding-left: 20px;
}

#root {
  background-color: #333;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.modal-content {
  background-color: white;
  width: 30vh;
  padding: 30px;
  height: 30vh;
  border-radius: 8px;
}
.my-container {
  width: 75%;
}

@media (min-width: 640px) {
  .my-container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .my-container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .my-container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .my-container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .my-container {
    max-width: 1536px;
  }
}

.mySwiper {
  .swiper-pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .swiper-pagination-bullet {
    background-color: #b0b0b0;
    opacity: 0.6;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: all 0.3s ease;
  }

  .swiper-pagination-bullet-active {
    background-color: #ea4c13;

    width: 14px;
    height: 14px;
    opacity: 1;
  }
}
