@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  direction: rtl;
  scroll-behavior: smooth;
  background-color: #333;
}

#root {
  background-color: #333;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.modal-content {
  background-color: white;
  width: 30vh;
  padding: 30px;
  height: 30vh;
  border-radius: 8px;
}
.my-container {
  width: 75%;
}

@media (min-width: 640px) {
  .my-container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .my-container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .my-container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .my-container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .my-container {
    max-width: 1536px;
  }
}

.mySwiper {
  .swiper-pagination {
    display: flex;
    justify-content: center;
  
    gap: 5px;
  }

  .swiper-pagination-bullet {
    background-color: #b0b0b0;
    opacity: 0.6;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: all 0.3s ease;
  }

  .swiper-pagination-bullet-active {
    background-color: #ea4c13;

    width: 14px;
    height: 14px;
    opacity: 1;
  }
}
